*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --background: #212121;
  --bg-secondary: #595959;
  --text: #c5c5c5;
  --text-highlight: rgb(234, 177, 61);
  --linkedin: #0E76A8;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.pic, html, body {
  width: 350px;
}

.name {
  color: var(--text);
}

.role, .site > a {
  color: var(--text-highlight)
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.contact {
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.site > a, button > a {
  text-decoration: none;
}

.site {
  font-size: .85rem;
}

.buttons > button {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: .9rem;
}

.icon {
  width: 20px;
  margin-right: 5px;
}

.mail, .linkedin, .mail > *,
.linkedin > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail {
  background-color: var(--text) ;
}

.mail > a {
  color: var(--background)
}

.linkedin {
  background-color: var(--linkedin);
}

.linkedin > a {
  color: #fff;
}

.sectionHeader {
  font-size: 1.25rem;
}

.sectionHeader, .sectionPara {
  color: var(--text);
  padding: 15px;
}

.sectionPara > a {
  color: var(--text-highlight);
}

.sectionPara {
  margin: 0;
  line-height: 1.35rem;
  text-align: justify;
}

.footer {
  background-color: var(--text-highlight);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.footer > a > img {
  width: 30px;
}